body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #0000FF;
    color: white;
    letter-spacing: 1.8px;
}

/* #0000FF */

html {
    scroll-padding-top: 3.125em; /* Adjust to match height of your navbar */
}

main {
    margin-bottom: 4.5em;
}

.hero-imgs {
    flex-wrap: wrap;
}


/* Navigation Bar */

nav {
    background-color: white;
    padding: 1em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.nav-style ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1em;
    justify-content: space-evenly;
    align-items: center;
}

.nav-style li a {
    text-decoration: none;
    cursor: pointer;
    color: #0000FF;

}

.nav-style li a:hover {
    color: #0000FF;
    font-size: 1.1rem;
}

header {
    padding-top: 3em;
}

/* Images */

img {
    width: 300px;
    border-radius: 20px;
}

/* .hero-imgs {
    display: flex;
    justify-content: center;
} */

.card {
    margin: 0 0.5em;
}

/* Form */

input {
    width: 170px;
    display: block;
    text-align: center;
}

form > button {
    background-color: white;
    color: black;
}

/* Footer */

.footer {
    background-color: white;
    display: flex;
    justify-content: space-around;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #0000FF;
}

/* Font Sizes */

h1, h2, h3 {
    font-size: 4rem;
    font-family: "Happy Monkey";
}

/* Buttons */

button {
    border: none;
    background-color: #0000FF;
    border-radius: 20px;
    padding: 1em;
    font-weight: bold;
    color: white;
}

button:hover {
    cursor: pointer;
}

/* Links */

.links > ul > li > a {
    color: white;
    display: block;
}

