body {
    margin: 0;
    padding: 0;
    font-family: "Happy Monkey", sans-serif;
    background-color: teal;
    color: white;
    height: 100vh;
    letter-spacing: 1.8px;
}

header, .hero-imgs {
    flex-wrap: wrap;
}

/* Navigation Bar */

nav {
    background-color: whitesmoke;
    padding: 1em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.nav-style ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1em;
    
}

.nav-style li a {
    text-decoration: underline;
    cursor: pointer;
    justify-content: center;
}

.nav-style li a:hover {
    color: red;
}

header {
    padding-top: 3em;
}

/* Images */

img {
    width: 200px;
}

/* .hero-imgs {
    display: flex;
    justify-content: center;
} */

.card {
    margin: 0 0.5em;
}

/* Form */

input {
    width: 170px;
    display: block;
    text-align: center;
}

/* Footer */
footer {
    background-color: #D9EAEA;
    padding: 2em;
    border-top: 1px solid coral;
    display: flex;
    justify-content: space-between;
}

/* Font Sizes */

h1, h2, h3 {
    font-size: 4rem;
}


